@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.post {
  background-color: $white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  height: 400px;

  &__content {
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;

    &-text {
      display: grid;
    }
  }

  &__content-image {
    height: 200px;
    width: auto;
    overflow: hidden;
    img {
      width: auto;
    }
  }

  &__date {
    color: $gray;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 15px;
    @include textLimit(2);
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    @include textLimit(3);
  }

  &__url {
    color: #be6711;
    text-decoration: underline;
    align-self: flex-end;
  }
}
