@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.post {
  background-color: $white;
  color: black;
  border-radius: 10px;
  padding: 10px;

  &__content-image {

  }

  &__date {
    color: $gray;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__url {
    color: #be6711;
    text-decoration: underline;
  }
}
