<div class="film-page">
  <div class="container">
    <div class="film-page__inner">
      <div class="film-page__image">
        <img src="{{filmData.posterUrlPreview}}" alt="Film Cover">
      </div>
      <div class="film-page__content">
        <div class="film-page__content-main">
          <div class="film-page__title">
            <div class="film-page__name">
              <span>{{filmData.nameRu}}</span>
              <span>{{filmData.nameOriginal}}</span>
            </div>
            <div class="film-page__year">Год: {{filmData.year}}</div>
            <div class="film-page__genres">
              <div class="genre" *ngFor="let genre of filmData.genres">{{genre.genre}}</div>
            </div>
          </div>
          <div class="film-page__description style-underline">
            {{filmData.description}}
          </div>
          <div class="film-page__director style-underline">
            <span>Режиссер:</span>
            <span>Joseph Kosinski</span>
          </div>
          <div class="film-page__writers style-underline">
            <span>Writers:</span>
            <span>Jim Cash, Jack Epps Jr,  Peter Craig</span>
          </div>
          <div class="film-page__stars style-underline">
            <span>Stars:</span>
            <span>Tom Cruise, Jennifer Connelly, Miles Teller</span>
          </div>
        </div>
        <div class="film-page__content-additional">

        </div>
      </div>
    </div>
  </div>
</div>
