<div class="film-page">
  <div class="container">
    <div class="film-page__inner">
      <div class="film-page__image">
        <img src="{{filmData.posterUrlPreview}}" alt="Film Cover">
      </div>
      <div class="film-page__content">
        <div class="film-page__content-main">
          <div class="film-page__title">
            <div class="film-page__name">
              <span>{{ filmData.nameRu }}</span>
              <span>{{ filmData.nameOriginal }}</span>
            </div>
            <div class="film-page__year">Год: {{ filmData.year }}</div>
            <div class="film-page__genres">
              <div class="genre" *ngFor="let genre of filmData.genres">{{ genre.genre }}</div>
            </div>
          </div>
          <div class="film-page__description staff-block">
            {{ filmData.description }}
          </div>
          <div class="film-page__directors staff-block">
            <span>Режиссеры:</span>
            <div class="director-items">
              <a class="staff-item" routerLink="/staff" [queryParams]="{id: director.staffId.toString()}"
                 *ngFor="let director of groupedStaff['DIRECTOR']">{{ director.nameRu }}</a>
            </div>
          </div>
          <div class="film-page__writers staff-block">
            <span>Сценаристы:</span>
            <div class="writers-items">
              <a class="staff-item" routerLink="/staff" [queryParams]="{id: writer.staffId.toString()}"
                 *ngFor="let writer of groupedStaff['WRITER']">{{ writer.nameRu }}</a>
            </div>
          </div>
          <div class="film-page__actors staff-block">
            <span>Актеры:</span>
            <div class="actors-items">
              <a class="staff-item" routerLink="/staff" [queryParams]="{id: star.staffId}"
                 *ngFor="let star of groupedStaff['ACTOR']">{{ star.nameRu }}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="film-page__content-additional">
      <div class="additional-content">
        <div class="additional-content__container">
          <div class="additional-content__title">Бюджет:</div>
          <div
            class="additional-content__details">{{ boxOfficeDataBudget?.symbol }}{{ boxOfficeDataBudget?.amount | number:'1.0-0' }}
          </div>
        </div>
        <div class="additional-content__container">
          <div class="additional-content__title">Сборы в России:</div>
          <div
            class="additional-content__details">{{ boxOfficeDataRus?.symbol }}{{ boxOfficeDataRus?.amount | number:'1.0-0' }}
          </div>
        </div>
        <div class="additional-content__container">
          <div class="additional-content__title">Сборы в США:</div>
          <div
            class="additional-content__details">{{ boxOfficeDataUSA?.symbol }}{{ boxOfficeDataUSA?.amount | number:'1.0-0' }}
          </div>
        </div>
        <div class="additional-content__container">
          <div class="additional-content__title">Сборы в мире:</div>
          <div
            class="additional-content__details">{{ boxOfficeDataWorld?.symbol }}{{ boxOfficeDataWorld?.amount | number:'1.0-0' }}
          </div>
        </div>
        <div class="additional-content__container">
          <div class="additional-content__title">Общая сумма сборов:</div>
          <div class="additional-content__details">${{ boxOfficeTotal | number:'1.0-0' }}</div>
        </div>
      </div>
      <div class="film-page__facts">
        <div class="film-page__facts-title">
          Знаете ли вы, что...
        </div>
        <div class="film-page__facts-items">
          <div class="fact-item"></div>
        </div>
      </div>
    </div>
  </div>
</div>
