<div class="film-page">
  <div class="container">
    <div class="film-page__inner">
      <div class="film-page__image">
        <img src="{{filmData.posterUrlPreview}}" alt="Film Cover">
      </div>
      <div class="film-page__content">
        <div class="film-page__content-main">
          <div class="film-page__title">
            <div class="film-page__name">
              <span>{{ filmData.nameRu }}</span>
              <span>{{ filmData.nameOriginal }}</span>
            </div>
            <div class="film-page__year">Год: {{ filmData.year }}</div>
            <div class="film-page__genres">
              <div class="genre" *ngFor="let genre of filmData.genres">{{ genre.genre }}</div>
            </div>
          </div>
          <div class="film-page__description">
            {{ filmData.description }}
          </div>
          <div class="film-page__directors staff-block">
            <span>Режиссеры:</span>
            <owl-carousel-o [options]="staffCarouselOptions">
              <ng-template carouselSlide *ngFor="let director of groupedStaff['DIRECTOR']">
                <a class="staff-item__container" routerLink="/staff" [queryParams]="{id: director.staffId.toString()}">
                  <div class="staff-item__image">
                    <img src="{{director.posterUrl}}" alt="Director's photo">
                  </div>
                  <div class="staff-item__name">{{ director.nameRu }}</div>
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
          <div class="film-page__writers staff-block">
            <span>Сценаристы:</span>
            <owl-carousel-o [options]="staffCarouselOptions">
              <ng-template carouselSlide *ngFor="let writer of groupedStaff['WRITER']">
                <a class="staff-item__container" routerLink="/staff" [queryParams]="{id: writer.staffId.toString()}">
                  <div class="staff-item__image">
                    <img src="{{writer.posterUrl}}" alt="Writer's photo">
                  </div>
                  <div class="staff-item__name">{{ writer.nameRu }}</div>
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
          <div class="film-page__actors staff-block">
            <span>Актеры:</span>
            <owl-carousel-o [options]="staffCarouselOptions">
              <ng-template carouselSlide *ngFor="let actor of groupedStaff['ACTOR']">
                <a class="staff-item__container" routerLink="/staff" [queryParams]="{id: actor.staffId.toString()}">
                  <div class="staff-item__image">
                    <img src="{{actor.posterUrl}}" alt="Actor's photo">
                  </div>
                  <div class="staff-item__name">{{ actor.nameRu }}</div>
                  <span class="staff-item__role">{{actor.description}}</span>
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="film-page__content-additional">-->
<!--      <div class="additional-content">-->
<!--        <div class="additional-content__container">-->
<!--          <div class="additional-content__title">Бюджет:</div>-->
<!--          <div-->
<!--            class="additional-content__details">{{ boxOfficeDataBudget?.symbol }}{{ boxOfficeDataBudget?.amount | number:'1.0-0' }}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="additional-content__container">-->
<!--          <div class="additional-content__title">Сборы в России:</div>-->
<!--          <div-->
<!--            class="additional-content__details">{{ boxOfficeDataRus?.symbol }}{{ boxOfficeDataRus?.amount | number:'1.0-0' }}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="additional-content__container">-->
<!--          <div class="additional-content__title">Сборы в США:</div>-->
<!--          <div-->
<!--            class="additional-content__details">{{ boxOfficeDataUSA?.symbol }}{{ boxOfficeDataUSA?.amount | number:'1.0-0' }}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="additional-content__container">-->
<!--          <div class="additional-content__title">Сборы в мире:</div>-->
<!--          <div-->
<!--            class="additional-content__details">{{ boxOfficeDataWorld?.symbol }}{{ boxOfficeDataWorld?.amount | number:'1.0-0' }}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="additional-content__container">-->
<!--          <div class="additional-content__title">Общая сумма сборов:</div>-->
<!--          <div class="additional-content__details">${{ boxOfficeTotal | number:'1.0-0' }}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="film-page__facts">-->
<!--        <div class="film-page__facts-title">-->
<!--          Знаете ли вы, что...-->
<!--        </div>-->
<!--        <div class="film-page__facts-items">-->
<!--          <owl-carousel-o [options]="factCarouselOptions">-->
<!--            <ng-template carouselSlide *ngFor="let fact of groupedFactsAndBloopersData['FACT']">-->
<!--              <div class="fact-item">-->
<!--                <p>{{ fact.text | removeHtml }}</p>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </owl-carousel-o>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
