@import "../../../assets/styles/variables";

.main {
  padding-left: 37px;
  &__inner {
    display: flex;
    gap: 38px;
  }

  .film__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 36px;

  }
}

