<div class="main">
  <div class="container">
    <div class="main__inner">
      <div class="main__premiers">
        <div class="main__premiers-title">
          <span>Премьеры этого месяца</span>
        </div>
        <div class="main__premiers-items">
          <p-carousel [value]="premieres"
                      [numVisible]="1.1"
                      [numScroll]="1"
                      [circular]="false"
                      [showNavigators]="false"
                      class="custom-carousel">
            <ng-template let-premiere #item>
              <app-film-card [film]="premiere" [showRating]="showRating"></app-film-card>
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <div class="main__posts">
        <div class="main__posts-title">Новости кинопоиска</div>
        <p-carousel [value]="posts.items.reverse()"
                    orientation="vertical"
                    [numVisible]="2"
                    [numScroll]="2"
                    [circular]="false"
                    verticalViewPortHeight="820px">
          <ng-template let-post #item>
            <app-post [post]="post"></app-post>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>
