<div class="sidebar">
  <a routerLink="/home" class="sidebar__logo">
    <img src="assets/static/images/logo.svg" alt="Logo">
  </a>
  <div class="sidebar__nav">
    <nav>
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="active">
            <i class="pi pi-home"></i>
            Home
          </a>
        </li>
        <li>
          <a routerLink="/films">
            <i class="pi pi-video"></i>
            Movies
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
