@import "../../../../assets/styles/variables";

.sidebar {
  padding-top: 56px;
  height: 100vh;
  width: 226px;
  background-color: $bg-secondary;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0 45px 45px 0;
  z-index: 2;

  &__logo {
    margin-left: 42px;
    margin-bottom: 81px;
    width: 118px;
    height: 42px;
  }

  &__nav {
    li {
      position: relative;

      a {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 86px;
        width: 100%;
        color: $gray;
        font-weight: 600;
        padding-left: 42px;

        &.active {
          background-color: #3DD2CC66;
          color: $green;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

          &:after {
            position: absolute;
            content: "";
            display: block;
            height: 100%;
            width: 6px;
            background-color: #3DD2CC66;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
            right: 0;
            top: 0;
          }
        }
      }
    }

  }
}
