<div class="sidebar">
  <div class="sidebar__logo">
    <a routerLink="/">
      <img src="assets/static/images/logo.svg" alt="Logo">
    </a>
    <div class="sidebar__nav">
      <nav>
        <ul>
          <li>
            <a routerLink="/">
              <i class="pi pi-home"></i>
              Home
            </a>
          </li>
          <li>
            <a routerLink="/">
              <i class="pi pi-video"></i>
              Movies
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
