@import "../../../../assets/styles/variables";

.sidebar {
  padding: 56px 0 0 42px;
  height: 100vh;
  width: 226px;
  background-color: $bg-secondary;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  border-radius: 0 45px 45px 0;

  &__logo {
    margin-bottom: 81px;
    width: 118px;
    height: 42px;
  }

  &__nav {
     a {
       display: flex;
       align-items: center;
       gap: 15px;
       height: 86px;
       width: 100%;
       color: $gray;
       font-weight: 600;
     }
  }
}
