@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, svg {
  width: 100%;
  height: 100%;
}


.section-title {
  color: $white;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 27px;
}

body {
  background-color: $bg;
}


