<div class="staff">
  <div class="container">
    <div class="staff__inner">
      <div class="staff__main">
        <div class="staff__main-image">
          <img src="{{staffInfo.posterUrl}}" alt="Staff photo">
        </div>
        <div class="staff__main-info">
          <div class="staff__name">
            <p>{{staffInfo.nameRu}}</p>
            <p>{{staffInfo.nameEn}}</p>
          </div>
          <div class="staff__profession">
            {{staffInfo.profession}}
          </div>
          <div class="staff__birthdate">
            <span>{{staffInfo.birthday | date:'dd MMMM, yyyy':'':'ru-Ru'}} • {{staffInfo.age | ageFormat}}</span>
          </div>
          <div class="staff__growth" *ngIf="staffInfo.growth > 0">{{staffInfo.growth / 100}} м</div>
        </div>
        <div class="staff__more-info" *ngIf="showMore">
          <div class="info-item">
            <div class="info-item__name">Карьера</div>
            <div class="info-item__value">{{staffInfo.profession}}т</div>
          </div>
          <div class="info-item" *ngIf="staffInfo.growth > 0">
            <div class="info-item__name">Рост</div>
            <div class="info-item__value">{{staffInfo.growth / 100}} м</div>
          </div>
          <div class="info-item" *ngIf="staffInfo.birthday">
            <div class="info-item__name">Дата рождения</div>
            <div class="info-item__value">{{staffInfo.birthday | date:'dd MMMM, yyyy':'':'ru-Ru'}} • <span>{{staffInfo.age | ageFormat}}</span></div>
          </div>
          <div class="info-item" *ngIf="staffInfo.birthplace">
            <div class="info-item__name">Место рождения</div>
            <div class="info-item__value">{{staffInfo.birthplace}}</div>
          </div>
          <div class="info-item" *ngIf="staffInfo.death">
            <div class="info-item__name">Дата смерти</div>
            <div class="info-item__value">{{staffInfo.death | date:'dd MMMM, yyyy':'':'ru-Ru'}}</div>
          </div>
          <div class="info-item" *ngIf="staffInfo.deathplace">
            <div class="info-item__name">Место смерти</div>
            <div class="info-item__value">{{staffInfo.deathplace}}</div>
          </div>
          <div class="info-item" *ngIf="staffInfo.spouses.length > 0">
            <div class="info-item__name">{{spouseType}}</div>
            <div class="info-item__value">
              <div class="spouse" *ngFor="let spouse of staffInfo.spouses">
                <div class="spouse__name">{{spouse.name}}</div>
                <div class="spouse__children">Детей: {{spouse.children}}</div>
                <div class="spouse__divorced" *ngIf="spouse.divorced">В разводе</div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn more-info" (click)="showMoreAction()">{{moreInfoButtonText}}</button>
      </div>
      <div class="staff__facts" *ngIf="staffInfo.facts.length > 0">
        <div class="staff__facts-title">
          <span>Знаете ли вы, что…</span>
        </div>
        <div class="staff__facts-items">
          <p-carousel [value]="staffInfo.facts"
                      [numScroll]="1"
                      [numVisible]="1.2"
                      [circular]="false"
                      [showNavigators]="false">
            <ng-template let-fact #item>
              <div class="staff__facts-item info-block">
                <p>{{fact}}</p>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <div class="staff__films">
        <div class="staff__films-title">Фильмография</div>
        <div class="staff__films-filter">
          <app-staff-film-filter
            *ngFor="let profession of staffProfessions"
            [profession]="profession"
            [filmCount]="groupedFilms[profession].length"
            [isActive]="profession === activeFilter()"
            (filterSelected)="setActiveFilter($event)"
          ></app-staff-film-filter>
        </div>
        <div class="staff__films-items">
          <div class="film-item" *ngFor="let film of groupedFilms[activeFilter()]">
            <div class="film-item__name">
              <p>{{ film.nameRu }} ({{film.nameEn}})</p>
            </div>
            <div class="film-item__rating" *ngIf="film.rating">Рейтинг: {{film.rating}}</div>
            <div class="film-item__role" *ngIf="film.description">Роль: {{film.description}}</div>
            <a [routerLink]="'/film/' + film.filmId">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
