@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.staff {
  padding-top: var(--container);
  max-width: 744px;
  margin: 0 auto;

  @include breakpoint(xl) {
    padding-top: 20px;
  }

  &__inner {

  }

  &__main {
    display: grid;


    &-image {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      img {
        max-width: 70%;
        border-radius: 5px;

        @include breakpoint(md) {
          max-width: 350px;
        }
      }
    }

    &-info {
      text-align: center;
      @include flexColumn;
      gap: 10px;
      margin-bottom: 20px;



      .staff__name {
        display: grid;
        gap: 20px;

        p {
          &:first-child {
            font-size: 20px;

            @include breakpoint(md) {
              font-size: 30px;
            }
          }

          &:last-child {
            font-size: 15px;
          }
        }
      }

      .staff__profession {

      }

      .staff__growth {

      }
    }
  }
}

.staff__more-info {
  display: grid;
  gap: 16px;
  margin-bottom: 20px;

  .info-item {
    display: grid;
    grid-template-columns: 120px 1fr;

    &:nth-child(3) {
      .info-item__value span {
        font-weight: 400;
      }
    }

    &__name {
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }

    &__value {
      .spouse {
        display: grid;
        gap: 5px;

        &__name {

        }

        &__children {
          font-weight: 400;
          font-size: 14px;
        }

        &__divorced {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

.more-info {
  justify-self: center;
}

.staff__facts {
  &-title {
    @include flexCenterBetween;
    margin: 16px 0 20px;

    span {
      font-size: 20px;
    }

    .carousel-arrows {
      @include flexAlignCenter;
      gap: 30px;
    }
  }

  &-items {
    .staff__facts-item {
      overflow-y: auto;
      min-height: 120px;
      max-height: 120px;
    }
  }
}

.staff__films {
  &-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  &-filter {
    @include flexAlignCenter;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 16px;


  }
  &-items {
    @include flexColumn;
    gap: 10px;
    .film-item {
      @include flexColumn;
      gap: 10px;
      background-color: $bg-secondary;
      border-radius: 5px;
      padding: 10px;

      a {
        margin-top: 15px;
        text-decoration: underline;
      }
    }
  }
}
