<div class="staff">
  <div class="container">
    <div class="staff__inner">
      <div class="staff__main">
        <div class="staff__main-image">
          <img src="assets/static/images/staff.webp" alt="Staff photo">
        </div>
        <div class="staff__main-info">
          <div class="staff__name">
            <p>Мэттью Макконахи</p>
            <p>Matthew McConaughey</p>
          </div>
          <div class="staff__profession">
            Актер, Продюсер, Режиссер, Сценарист
          </div>
          <div class="staff__birthdate">
            <span>1969-11-04 • 55 лет</span>
          </div>
          <div class="staff__growth">1.82 м</div>
        </div>
<!--        <div class="staff__more-info">-->
<!--          <div class="info-item">-->
<!--            <div class="info-item__name">Карьера</div>-->
<!--            <div class="info-item__value">Актер, Продюсер, Режиссер, Сценарист</div>-->
<!--          </div>-->
<!--          <div class="info-item">-->
<!--            <div class="info-item__name">Рост</div>-->
<!--            <div class="info-item__value">1.82 м</div>-->
<!--          </div>-->
<!--          <div class="info-item">-->
<!--            <div class="info-item__name">Дата рождения</div>-->
<!--            <div class="info-item__value">1969-11-04 • <span>55 лет</span></div>-->
<!--          </div>-->
<!--          <div class="info-item">-->
<!--            <div class="info-item__name">Место рождения</div>-->
<!--            <div class="info-item__value">Увалд, Техас, США</div>-->
<!--          </div>-->
<!--          <div class="info-item">-->
<!--            <div class="info-item__name">Супруга</div>-->
<!--            <div class="info-item__value">-->
<!--              <div class="spouse">-->
<!--                <div class="spouse__name">Камила Алвес</div>-->
<!--                <div class="spouse__children">трое детей</div>-->
<!--                <div class="spouse__divorced">В разводе</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <button class="btn more-info">Все детали о персоне</button>
      </div>
    </div>
  </div>
</div>
