<div class="staff">
  <div class="container">
    <div class="staff__inner">
      <div class="staff__main">
        <div class="staff__main-image">
          <img src="{{staffInfo.posterUrl}}" alt="Staff photo">
        </div>
        <div class="staff__main-info">
          <div class="staff__name">
            <p>Мэттью Макконахи</p>
            <p>Matthew McConaughey</p>
          </div>
          <div class="staff__profession">
            Актер, Продюсер, Режиссер
          </div>
          <div class="staff__growth">182</div>
          <div class="staff__birthdate">
            <p>1969-11-04</p>
            <p>54</p>
          </div>
          <div class="staff__birthplace">Увалд, Техас, США</div>
          <div class="staff__deathplace">null</div>
        </div>
      </div>
    </div>
  </div>
</div>
