:root {
  --color-white: #E8E8E8;
  --color-gray: #666666;
  --color-green: #3DD2CC;
  //--color-bg: #191919;
  --color-bg: #000000;
  --color-bg-secondary: #121212;
  --transiton-style: all .3s ease;
  --color-purple: #6200EE;
}

$white: var(--color-white);
$gray: var(--color-gray);
$green: var(--color-green);
$bg: var(--color-bg);
$bg-secondary: var(--color-bg-secondary);
$transition: var(--transition-style);
$purple: var(--color-purple);
