@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";


.main {
  margin-top: 40px;
  &__inner {
    display: flex;
    gap: 38px;
  }
  .film__items {
    display: grid;
    justify-items: center;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}
